@import "../css/reset.css";
/* layout */
body {position:relative; width:100%; background:#212121; color:#fff; font-size:12px; font-family:'Nanum Gothic', sans-serif}
a, a:visited {color:#fff; text-decoration:none}
#wrap {position:relative; width:100%; height:100%}
/* 
[font] 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

/* common */
.clear:after {content:""; display:block; clear:both}

/* header */

header {position:fixed; top:0; left:0; box-sizing:border-box; overflow:hidden; padding:0 20px; width:100%; height:60px; background:#212121; z-index:5}
header.scroll {background:#fff}

.logo {float:left}
.logo a {display:block; height:100%}
.logo span {display:block; margin-top:15px; width:25px; height:30px; background:url("../img/common/SINGLE_LOGO\(BLACK\).svg") 0 0 no-repeat; background-size:25px; text-indent:-9999px}
header.scroll .logo span {background:url("../img/common/SINGLE_LOGO\(WHITE\).svg") 0 0 no-repeat}
.nav {float:right; margin-top:14px; font-family:"Open Sans", sans-serif; font-weight:800; text-transform:uppercase}
.nav li {float:left; text-align:center; font-size:16px; font-weight:500}
.nav li a {display:block; padding:5px 10px}
.nav li a:after {content:""; display:block; margin-top:4px; width:0; height:2px; background:#fff; transition:0.5s}
.nav li a:hover:after {width:100%}
.nav li.on a:after {width:100%}
/* main */
#content {position:relative; box-sizing:border-box}
#content .home {position:relative; width:100%; text-align:center}
#content .home h2 {line-height:100vh; font-family:'Ubuntu', sans-serif; font-size:1.8rem}
.scroll_down {position:absolute; bottom:50px; left:50%; transform:translateX(-50%)}
.scroll_down .arrows {display:block; margin:0 0 3px 4px; width:16px; height:16px; transform:rotate(45deg); border-right:2px solid #fff; border-bottom:2px solid #fff}
.scroll_down .one, .scroll_down .two, .scroll_down .three {animation:scroll-down 1.5s infinite}
.scroll_down .one {margin-top:1px; animation-delay:.1s; animation-direction:alternate}
.scroll_down .two {animation-delay:.2s; animation-direction:alternate; margin-top:-6px}
.scroll_down .three {animation-delay:.3s; animation-direction:alternate; margin-top:-6px}

@keyframes scroll-down {
	0% {opacity:0}
	50% {opacity:.5}
	100% {opacity:1}
}

/* work */
.work {padding:10px 20px; background:#fff; color:#212121}
.work h2 {font-size:2rem}
.work .filter {padding:10px 0}
.work .filter:after {content:""; display:block; clear:both}
.work .filter li {float:left; margin-right:5px}
.work .filter li button {padding:5px 10px; border:1px solid #212121; border-radius:12px; font-weight:600}
/* footer */
footer {padding:15px 0; border-top:1px solid #555; text-align:center; font-weight:400}