@charset "UTF-8";
@import url("../css/jquery-ui.css");

/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, form, fieldset, legend, textarea, p, input, button, select, table, th, td, ul, ol, li, img * {margin:0; padding:0}
body, button, input, select, table, textarea, blockquote {font-family:"맑은고딕", "Malgun Gothic", sans-serif; color:#000; font-size:14px}
body {line-height:1; word-break:break-all; -webkit-text-size-adjust:none}
fieldset, img {border:0}
dl, ul, ol, menu, li {list-style:none}
table {border-collapse:collapse; border-spacing:0}
button {border:0; background:transparent; cursor:pointer}
input[type="text"], input[type="password"], textarea {-webkit-appearance:none; background:#f7f7f7; border:1px solid #aaa; border-radius:0}
input[type="text"]:hover, input[type="password"]:hover, textarea:hover {background:#fff}
a {text-decoration:none; color:inherit}
a:active, a:hover {text-decoration:none}
address, caption {font-style:normal}
legend,caption {width:0; height:0; text-indent:-9999px}

/*** layout ***/
html, body, #wrap {width:100%; height:100%}
/* input */
input[type="text"] {padding:5.9px 14px; line-height:1.5rem; font-weight:800}
::placeholder {color:#ccc; font-weight:800; opacity:1}
:-ms-input-placeholder {color:#ccc; font-weight:800}
::-ms-input-placeholder {color:#ccc; font-weight:800}
textarea {box-sizing:border-box; padding:5.9px 14px; height:90.3px; line-height:1.5rem; font-weight:800}
/* select */
select {position:relative; padding:8.9px 16.45px 8.9px 13.3px; min-width:37.109375vw; -webkit-appearance:none; -moz-appearance:none; appearance:none; border-radius:0px; background:#fff}
.select_wrap {position:relative; display:inline-block}
.select_wrap:after {position:absolute; top:calc(50% - 8px); right:11.9px; content:""; display:block; width:8px; height:8px; border-top:2px solid #666; border-right:2px solid #666; -webkit-transform:rotate(135deg); transform:rotate(135deg)}
/* header */
#wrap {position:relative; background:#fff}
#container {position:relative; background:#023a63}
#wrap header {position:relative; background:#fff; text-align:center}
header .top {height:46px}
header .top .logo {display:inline-block; width:154.7px; height:100%}
header .top .logo a {display:block; height:100%}
header .top .btn {position:absolute; top:0; width:46px; height:46px; text-indent:-9999px}
header .top .btn.prev {left:0}
header .top .btn.unb {right:0}
header .logo img {width:100%}
/* gnb */
header .menu {width:100%; border-top:1px solid #d0d0d0}
header .menu ul {width:100%}
header .menu ul:after {content:""; display:block; clear:both}
header .menu ul li {float:left; width:25%; text-align:center}
header .menu ul li > * {display:block; font-size:0.75rem; font-weight:800; color:#666}
header .menu ul li span {display:block; box-sizing:border-box; padding:43.3px 0 9.45px; margin:0 auto; max-width:89.6px; height:63px; background:url("../images/ico_menu.png") 0 0 no-repeat; background-size:360px}
header .menu ul li strong span {color:#0080ff}
header .menu ul li.home a span {background-position:0 0}
header .menu ul li.balju_list a span {background-position:33.33% 0}
header .menu ul li.suju_list a span {background-position:66.66% 0}
header .menu ul li.balju a span {background-position:100% 0}
header .menu ul li.home strong span {background-position:0 100%}
header .menu ul li.balju_list strong span {background-position:33.33% 100%}
header .menu ul li.suju_list strong span {background-position:66.66% 100%}
header .menu ul li.balju strong span {background-position:100% 100%}
/* side_menu */
.unb.layer .inner {padding:0 21px; width:calc(100% - 21px)}
.unb.layer .inner ul {padding-top:55.3px}
.unb.layer .inner ul li {margin-bottom:10.5px; background:#eee url("../images/ico_ham_more.png") 0 0 no-repeat; background-size:295px}
.unb.layer .inner ul li a {display:block; padding:19.25px 0; padding-left:60px}
.unb.layer .inner ul li.pc {background-position:0 33.33%}
.unb.layer .inner ul li.notice {background-position:0 66.66%}
.unb.layer .inner ul li.head {background-position:0 100%}
.unb.layer .inner .app_down a {display:block; padding:28.35px 21px 30.1px 21px ;background:#c5dfe7; font-size:0.7rem; line-height:1.375rem; color:#000}
.unb.layer .inner .app_down a:after {content:""; display:block; clear:both}
.unb.layer .inner .app_down strong {display:block; padding-bottom:21px; font-size:1rem}
.unb.layer .inner .app_down img {float:left; margin-right:21px; width:71.75px}
.unb.layer .inner .btn.close {top:0; right:8.75px}

/*** common ***/
.ir {height:0; text-indent:-9999px}
.clear:after {content:""; display:block; clear:both}
.shadow {box-shadow:2px 2px 2px 0 rgba(0,0,0,0.5)}
.relative {position:relative}
.dim {position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.7); color:#fff}
/* float */
.fr {float:right !important}
.fl {float:left !important}
/* width */
.w100 {width:100% !important}
/* margin */
.mt07 {margin-top:7px}
.mt09 {margin-top:9px}
/* align */
.vt {vertical-align:top}
.vb {vertical-align:bottom}
.vm {vertical-align:middle}
.ar {text-align:right}
.ac {text-align:center}
.al {text-align:left}
/* sub title */
.tit {padding:27.3px 0 16.45px 21px; background:#023a63; font-size:1.125rem; color:#fff}
/* layer */
.layer {display:none; position:absolute; top:0; left:0; right:0; bottom:0}
.overlay {position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); z-index:13}
.layer .inner {position:absolute; top:0; right:0; bottom:0; overflow:auto; box-sizing:border-box; min-height:100%; background:#fff; z-index:15}
/* font color */
.txt_red {color:#e60012}
.txt_green {color:#009944}
/* icon */
.ico {display:inline-block}
.ico.new {padding:3px 6.125px 4px; margin-left:10.5px; border-radius:10px; background:#e60012; font-size:0.75rem; color:#fff}
.ico.down_arrow {margin-bottom:4px; width:8px; height:8px; border-top:2px solid #666; border-right:2px solid #666; -webkit-transform:rotate(135deg); transform:rotate(135deg); text-indent:-9999px}
.ico.more {width:8px; height:8px; border-top:2px solid #fff; border-right:2px solid #fff; -webkit-transform:rotate(135deg) translate(0, 4px); transform:rotate(135deg) translate(0, 4px);}
.ico.order_num {padding:5.25px 8.75px 5.95px; border-radius:7px; background:#fff; color:#023a63;}
.ico.balju {width:19.25px; height:21px; background:url("../images/ico_balju.png") 0 0 no-repeat; background-size:19.25px}
.ico.triangle {width:21px; height:21px; vertical-align:-2px; background:url("../images/ico_full_arrow.png") 0 0 no-repeat; background-size:21px}
.ico.dica {margin-top:7px; width:31.5px; height:24.5px; background:url("../images/ico_dica.png") 0 0 no-repeat; background-size:31.5px; text-indent:-9999px}
.ico.member {width:21px; height:22.75px; background:url("../images/ico_member.png") 0 0 no-repeat; background-size:21px; text-indent:-9999px}
.ico.meminfo {width:17.5px; height:28px; background:url("../images/ico_memInfo.png") 0 0 no-repeat; background-size:17.5px; text-indent:-9999px}
.ico.pdt_pic {width:42px; height:42px; background:url("../images/ico_pdt_pic.png") 0 0 no-repeat; background-size:42px; text-indent:-9999px}
.ico.balju_pdt {width:19.28px; height:37.8px; background:url("../images/ico_balju_pdt.png") 0 0 no-repeat; background-size:19.25px; text-indent:-9999px}
/* btn */
.btn {display:inline-block}
.btn.prev {background:url("../images/btn_prev.png") 0 0 no-repeat; background-size:46px}
.btn.unb {background:url("../images/btn_unb.png") 0 0 no-repeat; background-size:46px}
.btn.close {position:absolute; top:1px; right:1px; width:45.5px; height:45.5px; background:url("../images/btn_close.png") 0 0 no-repeat; text-indent:-9999px; background-size:45.5px}
.btn.more {position:relative; padding:33.25px 0 32.2px; width:100%; background:#023a63; text-align:center; color:#f7f7f7; font-weight:800}
.btn.more .ico.more {margin-left:22.4px}
.btn.basic {box-sizing:border-box; padding:8.9px 9.15px; border:1px solid #aaa; border-radius:7px; background:#edf1f2; text-align:center; line-height:normal}
.btn.search {position:absolute; width:37.8px; height:37.8px; background:transparent; text-indent:-9999px}
.btn.search:before {position:absolute; content:""; display:block; top:23.7px; left:20.3px; width:10.5px; height:3px; background:#000; -webkit-transform:rotate(45deg); transform:rotate(45deg)}
.btn.search:after {position:absolute; content:""; display:block; top:7px; left:6.3px; width:13.25px; height:13.25px; border:3px solid #000; border-radius:100%}
.btn.choice {padding:11.55px 0; width:100%; border-radius:7px; text-align:center; color:#fff; background:#0080ff; font-size:0.875rem}
.btn.move {box-sizing:border-box; padding:15.75px 0; width:100%; border:1px solid #aaa; text-align:center; background:#ccc; color:#fff; font-size:1.125rem; font-weight:800}
.btn.move.v2 {padding:15.75px 31.5px; width:50%}
.btn.move.blue {background:#0080ff; border-color:#0080ff}
.btn.move.red {background:#e60012; border-color:#e60012}
.btn.move.next {text-align:left}
.btn.move.prev {text-align:right}
.btn.move .ico.triangle {margin:0 15.75px}
.btn.move.next .ico.triangle {margin-left:0}
.btn.move.prev .ico.triangle {margin-right:0; -webkit-transform:rotate(180deg); transform:rotate(180deg)}
/* border */
.b0 {border:0 !important}
.br0 {border-right:0 !important}
.bl0 {border-left:0 !important}
/* paging button */
.paging {width:100%}
.paging:after {content:""; display:block; clear:both}
.paging > .btn {float: left}
/* tab length = 4 */
.tab {position:relative; background:#c5dfe7}
.tab:after {content:""; display:block; clear:both}
.tab .tab_link {float:left; width:25%}
.tab .tab_link > * {padding:16.1px 0 21.35px; width:100%; text-align:center; color:#7d7d7d; font-weight:800}
.tab .tab_link.on > * {color:#0080ff}
.tab .tab_slider {position:absolute; bottom:0; left:0; width:25%; border-bottom:7px solid #0080ff; text-indent:-9999px; transition:.5s ease}
.tab .tab_link:nth-child(1).on ~ .tab_slider {left:0}
.tab .tab_link:nth-child(2).on ~ .tab_slider {left:25%}
.tab .tab_link:nth-child(3).on ~ .tab_slider {left:50%}
.tab .tab_link:nth-child(4).on ~ .tab_slider {left:75%}
.tab_con {display:none}
/* tab length = 3 */
.tab.v2 .tab_link {width:33.3333%}
.tab.v2 .tab_slider {width:33.33333%}
.tab.v2 .tab_link:nth-child(1).on ~ .tab_slider {left:0}
.tab.v2 .tab_link:nth-child(2).on ~ .tab_slider {left:33.3333%}
.tab.v2 .tab_link:nth-child(3).on ~ .tab_slider {left:66.6666%}
/* list */
.list li {display:none; width:100%}
.list li > button {position:relative; padding:22.75px 21px 17.5px; width:100%; border-top:1px solid #e5e5e5; text-align:left}
.list li > button:after {content:""; display:block; clear:both}
.list li:first-child > button {border-top:none}
.list li > button > p {float:left; overflow:hidden; width:202px; font-size:0.875rem; text-overflow:ellipsis; white-space:nowrap}
.list li.on > button > p {font-weight:800}
.list li > button > span {float:right; margin-top:4px; font-size:0.75rem; color:#888}
.list li > button .ico.down_arrow {margin-left:17.15px}
.list li.on > button .ico.down_arrow {margin-bottom:-3px; -webkit-transform:rotate(-45deg); transform:rotate(-45deg)}
.list li .list_con {display:none; padding:17.5px 21px; background:#eaeaea}
.list li.on .list_con {display:block}
.list li .list_con img {margin:0 auto; width:91.55556%; height:217px}
.list li .list_con p {padding-top:18.55px; line-height:1.325rem; font-size:0.75rem}
/*contents - items_wrap */
.items_wrap {padding:10.5px 21px 12.6px; background:#fff}
.items_wrap input[type="text"] {box-sizing:border-box}
/* image search */
.img_search:after {content:""; display:block; clear:both}
.img_search > * {float:left}
.img_search .ico.dica {margin-right:21px}
.img_search .btn.basic {margin-right:11px}
.img_search input[type="file"] {position:absolute; overflow:hidden; clip:rect(0,0,0,0); width:1px; height:1px}
.img_search input[type="text"] {box-sizing:border-box; overflow:hidden; width:calc(100vw - 200.55px); min-width:initial; text-overflow:ellipsis; white-space:nowrap}
.img_search .img_preview {position:relative; box-sizing:border-box; padding:11.55px 72.8px; margin-top:7.35px; width:100%; border:1px solid #e5e5e5; background:#f7f7f7}
.img_search .img_preview img {margin:0 auto; width:169.75px; height:189px}
/* select */
.select_wrap.delivery select {min-width:initial; width:101.5px}
.select_wrap.year {width:28.3203vw; box-shadow:2px 2px 2px 0 rgba(0,0,0,0.5)}
.select_wrap.month {margin-left:10.5px; width:21.4843vw; box-shadow:2px 2px 2px 0 rgba(0,0,0,0.5)}
.select_wrap.year select, .select_wrap.month select {background:#edf1f2; font-weight:800}
.select_wrap.year select, .select_wrap.month select {min-width:initial; width:100%}
/* search wrap */
.search_wrap {position:relative}
.search_wrap input[type="text"] {box-sizing:border-box; width:100%}
.search_wrap .btn.search {top:0; right:9.1px}
/* label checkbox */
label.chk {padding-left:31.5px; line-height:1.25rem; background:url("../images/input_chk.png") 0 0 no-repeat; background-size:17.5px; color:#aaa}
label.chk.on {background:url("../images/input_chked.png") 0 0 no-repeat; background-size:17.5px; color:#000; font-weight:800}
label.chk.v2 {padding-left:26.25px; color:#000}
label.chk.v2.on {font-weight:400}
label.chk input {position:absolute; clip:rect(0,0,0,0); overflow:hidden; margin:-1px; width:1px; height:1px}
/* product amount */
.pdt_amount {display:flex; justify-content:space-between}
.pdt_amount .btn.basic {width:57.4px}
.pdt_amount .btn.basic.on {padding:7.9px 9.15px; border-color:#0080ff; border-width:2px}
/* option select */
.option > label {position:relative; float:left; box-sizing:border-box; padding:17.5px 0 18.55px; width:50%; border:1px solid #aaa; background:#edf1f2; text-align:center; font-size:1.125rem; font-weight:800; color:#7d7d7d}
.option > label input[type="radio"] {position:absolute; clip:rect(0,0,0,0); overflow:hidden; margin:-1px; width:1px; height:1px}
.option label .ico.down_arrow {margin-left:9.8px; border-color:#7d7d7d}
.option label.on {padding:17.5px 0 16.55px; border:2px solid #0080ff; color:#0080ff}
.option label.on .ico.down_arrow {border-color:#0080ff}